@keyframes fadeInFromNone {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: block;
    opacity: 0;
  }
  100% {
    display: block;
    opacity: 1;
  }
}

@keyframes fadeOutFromNone {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: block;
    opacity: 0;
  }
  100% {
    display: block;
    opacity: 1;
  }
}

.header-animate-fade-in {
  animation: fadeInFromNone 0.5s ease-out;
}

.header-animate-fade-out {
  animation: fadeOutFromNone 0.5s ease-out;
}
